body{
	padding:0;
	margin:0;
	font-size:16px;
	height: 100%;
	color:#e5e5e5de;
    background: #30303d;
	text-align:center;
}
#body{
	max-width:439px;
	margin:auto;
}
h1{
	letter-spacing: 3px;
	color:#FFF
}
h3{
	letter-spacing: 1px;;
}
.animation-sec{
	position: relative;
	overflow: hidden;
	position:relative;
	width: 439px;
    height: 340px;
    margin: auto;
	margin-top:50px;
}
.container{
	width:439px;
}
.anime-divs{
	position: relative;
	display: flex;
    justify-content: space-around;
	width: max-content;
    animation: anime 9s linear infinite;
}
.anime-divs p{
	color: #e5e5e5de;
    font-size: 20px;
    padding: 6px;
	margin:15px 10px;
    box-shadow: 0px 0px 3px 2px #e5e5e5de;
    border: 1px solid #e5e5e5de;
    border-radius: 7px;
	position:relative;
}
.anime-divs.anime-revers{
    animation: anime 9s linear infinite;
	animation-direction: reverse;
}
.animation-sec {
	-webkit-mask-image: linear-gradient(to right,transparent 0%,black 20%,black 80%,transparent 100%);
	mask-image: linear-gradient(to right,transparent 0%,black 20%,black 80%,transparent 100%);
}
@keyframes anime {
    0% { transform: translateX(0px); }
    100% { transform: translateX(-50%); }
}
