body{
	padding:0;
	margin:0;
	font-size:16px;
}
#body{
	max-width:1200px;
	margin:auto;
}
.animation-sec{
	width: 400px;
    height: 340px;
    margin: auto;
	overflow: hidden;
    background: #33334b;
	box-shadow:1px 2px 11px 8px #969696;
}
.container{
	padding:100px;
}
.anime-divs{
	position: relative;
	display: flex;
    justify-content: space-around;
	width: max-content;
    animation: marquee 10s linear infinite;
}
.anime-divs p{
	color: #e5e5e5de;
    font-size: 20px;
    padding: 6px;
	MARGIN:15px 10px;
    box-shadow: 0px 0px 3px 2px #e5e5e5de;
    border: 1px solid #e5e5e5de;
    border-radius: 7px;
	position:relative;
}
.anime-revers{
	animation-direction: reverse;
	animation-timing-function:ease;
}
@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}