body{
	padding:0;
	margin:0;
	font-size:16px;
	height: 100%;
	color:#e5e5e5de;
    background: #30303d;
	text-align:center;
}
#body{
	max-width:1200px;
	margin:auto;
}
h1{
	letter-spacing: 3px;
	color:#FFF
}
h3{
	letter-spacing: 1px;;
}
.animation-sec{
	position: relative;
	overflow: hidden;
	position:relative;
	width: 800px;
    height: 340px;
    margin: auto;
	margin-top:50px;
}
.container{
	padding:100px;
}
.anime-divs{
	position: relative;
	display: flex;
    justify-content: space-around;
	width: max-content;
    animation: marquee 10s linear infinite;
}
.anime-divs p{
	color: #e5e5e5de;
    font-size: 20px;
    padding: 6px;
	MARGIN:15px 10px;
    box-shadow: 0px 0px 3px 2px #e5e5e5de;
    border: 1px solid #e5e5e5de;
    border-radius: 7px;
	position:relative;
}
.anime-revers{
	animation-direction: reverse;
	animation-timing-function:ease;
}
@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}